*.so
MANIFEST
*.py[co]
Output.xml
.DS_Store
_build
_generate
build
*.pyc
*.bib
*.bak
*.aux
*.log
*.toc
*.out
*.Rhistory
*.RData
*Temp*
*synctex.gz
**/__pycache__
**/_book
**/celebA
**/radon
**/_bookdown_files
**/codpy-book_files
**/sandbox
**/.Rproj.user
codpy/data/*.csv
cebpl2/ESIMPG-DATA/**
PnL/Wilmott_article/WilmottFigs/**
cebpl2/data/**
apps/data/creditcardfraud.csv
apps/Clustering/Output.xml
apps/Clustering/.RData
apps/Clustering/.Rhistory
.Rproj.user
**/Output*
codpy/data/creditcardfraud.csv

